h1{
   color: rgba(103, 33, 168, 0.839);
   letter-spacing: 5px;
   text-transform: uppercase;
   text-align: center;
}
.paraDirectores{
   color: gold;
   font-weight: bold;
   text-decoration: underline;
}