<h1>{{title}}</h1>
<form action="">
  <label>Nombre:</label><br>
  <input type="text" name="nombre" [(ngModel)]="nombre"><br>
  <label>Apellido:</label><br>
  <input type="text" name="apellido"  [(ngModel)]="apellido"><br><br>
  <input type="submit" value="Registrar" (click)="registrarUsuario()">
</form>
<p *ngIf="registrado">{{mensaje}} con el nombre {{nombre}} {{apellido}}</p>
<!-- es un condicional que registrado es = true se pueda mostrar el mensaje -->
<!-- basicamente modifica el dom de una manera dinamica y 
se pueden ocultar un elemento asi dando un cierto dinamismo a la pagina y logrando una
mejor optimizacion de la pagina -->